.container {
  max-width: 282px;
  width: 100%;
  margin: 0;

  display: flex;
  flex-direction: column;
}

.link {
  display: flex;

  text-decoration: none;
  text-align: left;
}

.link:hover {
  text-decoration: underline;
}

.cover {
  width: 100%;
}

.content {
  box-sizing: border-box;
  height: 116px;
  background-color: var(--gray);
  padding: 0 28px 16px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
}

.content h2 {
  font-size: 18px;
  font-weight: bold;
  color: var(--black);
}

.content button {
  padding: 0;
  background: none;
  border: none;

  display: flex;

  cursor: pointer;
}

.favorite {
  width: 24px;
}
