.header {
  padding: 20px 320px;
  background-color: var(--black);

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header nav {
  display: flex;
  align-items: center;
  gap: 80px;
}
